
.fc-yell{
color: #F4C724;
}

.f-150
{
    font-size: 150px;
}
.f-20{
    font-size: 20px;
}
.f-40{
    font-size: 40px;
}
.f-60{
    font-size: 60px;
}
.fc{
    position: relative;
}
.m-80{
    margin-top: 80px;
}